.hk_home {
  background-color: #f6f5f6;
  position: relative;
}
.hk_home .hk_swiper {
  height: 212px;
}
.hk_home .hk_swiper img {
  height: 212px;
}
.hk_home .hk_nav {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px 0;
}
.hk_home .hk_nav .hk_nav_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hk_home .hk_nav .hk_nav_item img {
  width: 48px;
}
.hk_home .hk_nav .hk_nav_item p {
  padding-top: 10px;
  margin: 0;
}
.hk_new {
  background-color: #fff;
}
.hk_new .hk_news {
  margin: 0 15px;
}
.hk_new .hk_news .hk_news_title {
  height: 40px;
  padding-top: 18px;
  font-weight: 600;
  font-size: 15px;
}
.hk_new .hk_news .hk_news_content .hk_news_item {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}
.hk_new .hk_news .hk_news_content .hk_news_item:last-child {
  border-bottom: none;
}
.hk_new .hk_news .hk_news_content .hk_news_item .hk_news_img_wrapper img {
  width: 120px;
  height: 90px;
}
.hk_new .hk_news .hk_news_content .hk_news_item .hk_news_item_info {
  padding: 0 15px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hk_new .hk_news .hk_news_content .hk_news_item .hk_news_item_info_bottom {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #9c9fa1;
  font-weight: 400;
}
