.hk_home{
    height: 100vh;
    background-color: #f6f5f6;
    position: relative;
    .hk_swiper{
        height: 212px;
        img{
            height:212px;
        }
    }
    .hk_nav{
        display: flex;
        justify-content: space-around;
        background-color: #fff;
        padding: 10px 0;
        .hk_nav_item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 48px;
            }
            p{
                padding-top: 10px;
                margin: 0;
            }
        }
    }
  
}